https://ride.citibikenyc.com/system-data  
https://www.weather.gov/okx/

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../DATA/202109-citibike-tripdata.csv', low_memory=False)

In [4]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,22C33F42C6A0E28E,classic_bike,2021-09-01 10:26:45,2021-09-01 10:43:23,Central Park West & W 72 St,7141.07,E 51 St & 1 Ave,6532.06,40.775794,-73.976206,40.754557,-73.965930,member
1,035F743147FCFCDE,classic_bike,2021-09-04 09:52:40,2021-09-04 10:09:19,William St & Pine St,5065.12,NaN,NaN,40.707179,-74.008873,40.720000,-74.010000,member
2,9C43CF6A07DACBC6,classic_bike,2021-09-06 17:07:40,2021-09-06 17:34:44,Fulton St & Broadway,5175.08,Jay St & Tech Pl,4710.06,40.711066,-74.009447,40.695065,-73.987167,casual
3,253A1A5B20CC78EE,classic_bike,2021-09-28 16:53:43,2021-09-28 17:03:00,West Drive & Prospect Park West,3651.04,Ocean Pkwy & Church Ave,3125.09,40.661063,-73.979453,40.644719,-73.974515,member
4,5E8F164D6798CEFA,classic_bike,2021-09-19 09:37:47,2021-09-19 09:53:42,Lorimer St & Broadway,4965.01,Jay St & Tech Pl,4710.06,40.704118,-73.948186,40.695065,-73.987167,member

In [5]:
df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
3280216,8A1C8DB4249BF100,classic_bike,2021-09-26 16:00:45,2021-09-26 16:20:51,8 Ave & W 31 St,6450.05,W 67 St & Broadway,7116.04,40.750585,-73.994685,40.774925,-73.982666,casual
3280217,C290EE73DF58AD79,classic_bike,2021-09-07 08:22:06,2021-09-07 08:38:40,S Portland Ave & Hanson Pl,4354.05,S 3 St & Bedford Ave,5235.05,40.685396,-73.974315,40.712605,-73.962644,casual
3280218,E42F8B93C4168658,classic_bike,2021-09-30 20:50:23,2021-09-30 20:59:13,West End Ave & W 60 St,7059.08,Amsterdam Ave & W 66 St,7149.05,40.772370,-73.990050,40.774667,-73.984706,casual
3280219,7221F0C58026A827,classic_bike,2021-09-08 19:06:24,2021-09-08 19:10:57,West End Ave & W 60 St,7059.08,Amsterdam Ave & W 66 St,7149.05,40.772370,-73.990050,40.774667,-73.984706,member
3280220,689F3FAE372C013C,classic_bike,2021-09-27 07:58:57,2021-09-27 08:02:31,West End Ave & W 60 St,7059.08,W 67 St & Broadway,7116.04,40.772370,-73.990050,40.774925,-73.982666,member

In [22]:
pd.to_datetime(df['started_at']).dt.month.unique()

array([9])

In [23]:
df['Date'] = pd.to_datetime(df['started_at'])

In [24]:
df['Date'].dt.month.unique()

array([9])

In [26]:
df['Date'].dt.day.min(), df['Date'].dt.day.max()

(1, 30)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3280221 entries, 0 to 3280220
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    float64
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  Date                datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(8)
memory usage: 350.4+ MB

In [30]:
df.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name       18
start_station_id         18
end_station_name      15351
end_station_id        15351
start_lat                 0
start_lng                 0
end_lat                8784
end_lng                8784
member_casual             0
Date                      0
dtype: int64

In [13]:
df2 = pd.read_csv('../DATA/weather_data.csv', skiprows=4)

In [15]:
df2.columns = ['Date', 'Max_temperature', 'Min_temperature', 'Average_temp', 'Departure_temp',
              'HDD', 'CDD', 'Precipitation', 'New Snow', 'Snow Depth']

In [17]:
df2 = df2.iloc[:30]

In [18]:
df2

,Date,Max_temperature,Min_temperature,Average_temp,Departure_temp,HDD,CDD,Precipitation,New Snow,Snow Depth
0,2021-09-01,78,63.0,70.5,-3.3,0,6,7.13,0,0
1,2021-09-02,77,61.0,69,-4.5,0,4,0.1,0,0
2,2021-09-03,74,59.0,66.5,-6.8,0,2,0,0,0
3,2021-09-04,79,61.0,70,-3.0,0,5,0,0,0
4,2021-09-05,74,67.0,70.5,-2.3,0,6,0.02,0,0
5,2021-09-06,81,69.0,75,2.5,0,10,T,0,0
6,2021-09-07,79,65.0,72,-0.2,0,7,0,0,0
7,2021-09-08,82,70.0,76,4.1,0,11,0,0,0
8,2021-09-09,76,68.0,72,0.4,0,7,0.26,0,0
9,2021-09-10,74,63.0,68.5,-2.8,0,4,0,0,0
10,2021-09-11,76,60.0,68,-3.0,0,3,0,0,0
11,2021-09-12,81,66.0,73.5,2.8,0,9,0,0,0
12,2021-09-13,83,67.0,75,4.6,0,10,0.12,0,0
13,2021-09-14,80,67.0,73.5,3.5,0,9,0,0,0
14,2021-09-15,85,71.0,78,8.3,0,13,T,0,0
15,2021-09-16,76,71.0,73.5,4.2,0,9,T,0,0
16,2021-09-17,75,69.0,72,3,0,7,T,0,0
17,2021-09-18,84,69.0,76.5,7.9,0,12,0,0,0
18,2021-09-19,76,64.0,70,1.8,0,5,0,0,0
19,2021-09-20,75,63.0,69,1.2,0,4,0,0,0
20,2021-09-21,76,63.0,69.5,2.1,0,5,0.09,0,0
21,2021-09-22,79,72.0,75.5,8.4,0,11,0.01,0,0
22,2021-09-23,79,64.0,71.5,4.8,0,7,1.37,0,0
23,2021-09-24,72,57.0,64.5,-1.8,0,0,0.66,0,0
24,2021-09-25,75,57.0,66,0.1,0,1,0,0,0
25,2021-09-26,71,61.0,66,0.5,0,1,0,0,0
26,2021-09-27,78,62.0,70,4.9,0,5,0,0,0
27,2021-09-28,71,61.0,66,1.3,0,1,0.27,0,0
28,2021-09-29,68,54.0,61,-3.3,4,0,T,0,0
29,2021-09-30,65,55.0,60,-3.9,5,0,0,0,M